/* fonts */

html {
    overflow-y: scroll;
}

body {
    display: flex;
    /* height: 150vh;  */
    height: 1250px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;   
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

button {
    /* border: 0.5mm solid white; */
    border: none;
    border-radius: 8px;
    font-weight: 900;
    color: white;
    background-color: #3882f6;
    padding: 8px 16px;
}

.basic-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
}

.top {
    flex: 7;
    background-color: #1F2937;
    padding: 0px 100px;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
}

.hero {
    display: flex;
    align-items: center;
    margin: 50px 0px;
}

.left {
    flex: 4;
}

.big-font {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
    margin: 0;
}

.right {
    flex: 3;
}

.goldfish {
    width: 100%;
    height: auto;
    margin-left: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 7;
    align-items: center;
    background-color: white;
    padding: 0px 100px
}

.subheader {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.subdiv {
    display: flex;
    gap: 50px;
}

.info-item {
    flex: 1;
}
.subdiv img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1.5mm solid #3882f6;
}

.quote {
    flex: 6;
    background-color: #e5e7eb;
}

.action {
    display: flex;
    flex-direction: column;
    flex: 5;
    justify-content: center;
    background-color: white;
}

.action_text {
    background-color: #3882f6;
    border-radius: 6px;
    margin: 0px 50px;
}

.footer {
    flex-basis: 20px;
    background-color: #1F2937;
}